:host {
  .mat-list-base {
    padding: 0;
  }

  .list {
    background-color: rgba(transparent, 0.1);
    margin: 2rem 1rem;

    ::ng-deep .mat-list-item {
      height: max-content;
    }

    .option {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      min-height: max-content;
      padding: 0.25rem 0;
      width: 100%;

      img {
        border-radius: 50%;
        height: 50px;
        padding: 0.25rem;
        width: 50px;
      }

      span,
      a {
        padding: 0 1rem;
      }

      button {
        margin: 0 1rem 0 auto;
      }
    }
  }
}
