@import "../../../../assets/styles/base";

:host {
  mat-toolbar {
    align-items: center;
    background-color: rgba(transparent, 0.1);
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    h1,
    mat-slide-toggle {
      font-family: $font-family;
      color: $white;

      &::ng-deep .mat-slide-toggle-content {
        font-family: $font-family;
      }
    }
  }
}
