@import "../../../../../assets/styles/mixins";

.not-found {
  height: 70vh;
  @include center;
}

.navigation {
  bottom: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  position: fixed;
  width: 100%;

  @include center;
}
