@import "./base";

body[color-theme="dark"] {
  background-color: $dark-background;

  * {
    color: $white;
  }
}

body[color-theme="light"] {
  background-color: $light-background;

  * {
    color: $black;
  }

  .loading {
    .double-bounce1,
    .double-bounce2 {
      background-color: $black;
    }
  }
}
